<!DOCTYPE html>
<html lang ="en">

<head>
	<title>Examples of Phishing</title>
	<meta charset= "utf-8">
	<link href="Phishing.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
</head>

<body>

<header>
	<img src="Images/Welcome.gif" alt= "Welcome" style="width:22%; margin-left: 40%; margin-right: 30%;"> 	
</header>
<nav>
		<ul id="navmenu">
			<li><a href="Index.html">HOME</a></li>
			
			<li><a href="About.html">ABOUT PHISHING</a><span class = "darrow">&#9660;</span>
				<ul class = "sub1">
					<li><a href="Phishing101.html">What is Phishing?</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="Definition.html">Definition</a></li>
							<li><a href="PhishTech.html">Phishing Techniques</a></li>
						</ul>
					</li>
					<li><a href="More.html">Learn more</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="History.html">History of Phishing</a></li>
							<li><a href="Examples.html">Examples of Phishing</a></li>
						</ul>
					</li>
				</ul>
			</li>
	
			<li><a href="Training.html">TRAINING</a><span class = "darrow">&#9660;</span>
				<ul class = "sub1">
					<li><a href="Training1.html">Phishing 101</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="Training1-1.html">Introduction</a></li>
							<li><a href="Training1-2.html">How to avoid Phishing?</a></li>
							<li><a href="Training1-3.html">How to detect Phishing?</a></li>
							<li><a href="Training1-4.html">How to report Phishing?</a></li>
							<li><a href="Training1-5.html">How to use D-Phish?</a></li>
							<li><a href="Training1-6.html">Learn more about Phishing</a></li>
						</ul>
					</li>
					
					<li><a href="Knowledge.html">Test your knowledge</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="Quizzes.html">Take some Quizzes</a></li>
							<li><a href="Games.html">Play some Games</a></li>		
						</ul>
					</li>	
	
				</ul>
			</li>
			
			<li><a href="T&R.html">TOOLS & RESOURCES</a><span class = "darrow">&#9660;</span>
				<ul class = "sub1">
					<li><a href="D-Phish.html">D-Phish</a></li>							
				</ul>
			</li>
			
		</ul>
	</nav>

<main>
	<div id="PageWrapper">
		
		<p style= "
			text-align: center; 
			font-size: 25px; 
			height:40px;
			color: white; 
			border: 2px solid black; 
			border-radius: 25px; 
			width: 25%;
			margin-left:38%;
			margin-right: 40%;
			background-image: url(Images/NavD.jpg);">
			
			<u><b>Examples of Phishing</b></u>
		</p>	

	
		<div class= "responsive">
			<iframe 
				width="560"
				height="315" 
				src="https://www.youtube.com/embed/WG8V1_Sj5g0" 
				frameborder="0" 
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen>
			</iframe>
		</div>

		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			Designed by Katie Drury, Sarah Matevia, and Serge Kikonda, this application is FREE, comprehensive and easy to navigate.
			It is intended to provide the UC community (students, faculty, and staff) with the ability to receive effective training 
			about phishing and how to report it. 
			<br><br>
			Our goal is to ensure that the features within this application are tailored to you, our audience, 
			in such a way that you enjoy and easily retain what you learn, but also feel the need to learn more. 
			<br><br>
			Timing is crucial for detecting and stopping phishing attacks. 
			While our application does not focus on monetary values, it does focus on something even more important: 
			increasing the user retention and awareness rates. 
			By exploring our website, you will bear witness to our attempt at creating a new trend 
			and approach to learning about phishing.
			We would love to get your feedback to learn how we can improve your experience and make it better. 
			If you would like to provide feedback, please click here: <a href="Feedback.html">Feedback</a>.
		</p>

	</div>
	
</main>

<footer id = "Top-Footer">
	<p style= "text-align: center; font-size: 28px;">
		<h2 id = "Explore">What do you wish to explore next?</h2>
		<br>
	
	<p id= "PageTabs">
	<a href="Index.html"><b>Homepage</b></a>
	</p>
	
	<p id= "PageTabs">
	<a href="About.html"><b>About Phishing</b></a>
	</p>
	
	<p id= "PageTabs">
	<a href="Training.html"><b>Training</b></a>
	</p>
	
	<p id= "PageTabs">
	<a href="T&R.html"><b>Tools & Resources</b></a>
	</p>
	
	<p style= "text-align: center;">
		<a href = "http://cech.uc.edu/">
			<img src="Images/CECH.png" 
				alt= "CECH" 
				href="https://cech.uc.edu/" 
				style="width:50%; height:80px; margin-top:30px; margin-bottom: 30px; border: 2px solid #CCC; border-radius: 15px;"
			>
		</a>
	</p>
	<br><br>		
</footer>

<footer id = "Bottom-Footer">
	<p style= "text-align: center; font-size: 18px;">
	Copyright &copy; 2019 Phishing Guard <br>
	This Website was created by Katie Drury, Sarah Matevia, and Serge Kikonda for the University of Cincinnati's IT5001 Senior Design Course.<br>
	For more information, click here to email our team: <a href="mailto:kikondsk@mail.uc.edu">Phishing Guard Support Team</a>.
	</P>
</footer>

</body>

</html>
