packages:
  rpm:
    xmlsec1: https://kojipkgs.fedoraproject.org/packages/xmlsec1/1.2.19/6.fc22/x86_64/xmlsec1-1.2.19-6.fc22.x86_64.rpm
    xmlsec1-devel: https://kojipkgs.fedoraproject.org/packages/xmlsec1/1.2.19/6.fc22/x86_64/xmlsec1-devel-1.2.19-6.fc22.x86_64.rpm
    xmlsec1-openssl: https://kojipkgs.fedoraproject.org/packages/xmlsec1/1.2.19/6.fc22/x86_64/xmlsec1-openssl-1.2.19-6.fc22.x86_64.rpm
    xmlsec1-openssl-devel: https://kojipkgs.fedoraproject.org/packages/xmlsec1/1.2.19/6.fc22/x86_64/xmlsec1-openssl-devel-1.2.19-6.fc22.x86_64.rpm