/* ==================*/
/* 		Key Rules    */ 
/* ==================*/

body {
	margin-left: 1%;
	margin-right: 1%;
	color: #000000;
	background-image: url(NavD.jpg);
	font-family: Palatino Linotype, "Book Antiqua", Palatino, serif;
	}	

header { 
	width: 100%;
	background-repeat: no-repeat;
	background-image: url(giphy3.gif);
	}	

h1 {
	text-align: center;
	margin-bottom: 2px;
	text-indent: -9999px;
	height: 170px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(welcome.gif);
	font-family: Palatino Linotype, "Book Antiqua", Palatino, serif;
	}

h2 { 
	font-size: 20px;
	color: #000000;
	font-family: Palatino Linotype, "Book Antiqua", Palatino, serif;
	}

h3 {font-family: Palatino Linotype, "Book Antiqua", Palatino, serif;}

main {
	margin: 0px; 	
	color: black;
	font-weight: bold;		
	background-color: #800000;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	display: block;
	font-size: 18px;
	text-decoration: none;
	border: 2px solid black;
	}


/* ======================*/
/*    Navigation Rules   */ 
/* ======================*/
nav { 
	text-align: center;
	background-size: cover;
	background-color: black;
	background-image:url(Tech-Back.jpg);
	font-family: Palatino Linotype, "Book Antiqua", Palatino, serif;
	}

nav a { 
	padding: 4%;
	text-decoration: none;
    background-repeat: repeat;
	background-image: url(NavA.jpg);
	}	

nav a:link { color: white;}

nav a:visited {color: white;}

nav a:hover { color: red;}

nav ul{  
	padding: .2%;
	margin: 0px;
	}

ul#navmenu {
	height: 80px;
	font-size: 13pt;
	list-style: none;
	}

ul#navmenu li {
	float: left;
	width: 250px;
	text-align: center;
	position: relative;
	margin-left: 4.2%;
	margin-bottom:-1%;
	padding-left: .75%;
	}

ul#navmenu a{
	width: 98%;
	height: 25px;
	display: block;
	margin-top: 8px;
	margin-left: -5%;
	margin-right: -5%;
	border-radius: 10px;
	margin-bottom: 1px;
	text-decoration: none;
	border: 2px solid #CCC;
	background-color: #ffffff;
	}

ul#navmenu .sub1 a{	margin-top: .5%;}

ul#navmenu .sub2 a{	margin-left: .5%;}

ul#navmenu ul.sub1 {
	display: none;
	position: absolute;
	top: 100%;
	left: -1.5%;
	}

ul#navmenu ul.sub2 {
	display: none;
	position: absolute;
	top: 0px;
	left: 97%;
	}

ul#navmenu li:hover .sub1 {	display: block;}

ul#navmenu .sub1 li:hover .sub2 { display: block;}

ul.sub1 {
	list-style: none;
	font-size: 12pt;
	}

ul.sub2 {
	list-style: none;
	font-size: 12pt;
	}


/* =============================*/
/*    UP and DOWN Arrow Rules   */ 
/* =============================*/
.darrow {
	top: 38%;
	right: 2%;
	color: #ff3333;
	font-size: 11pt;
	position: absolute;
	}

.rarrow {
	top: 15px;
	right: 8%;
	color: #ff4d4d;
	font-size: 11pt;
	position: absolute;
	}

/* ==================*/
/*    Footer Rules   */
/* ==================*/
footer:link { color: #66ff99;}

footer:visited {color: red;}

#Top-Footer {
	padding-left: 50px;
	padding-right: 50px;
	background: #e6ffe6;
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	background-image:url(giphy3.gif);
	}

#Explore {
	color: red;
	text-align: center;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
	margin: auto;
	border: 2px solid red;
	border-radius: 25px;
	background-color: #f2f2f2;
	}

#PageTabs {
	color: #000000;
	font-size: 18px;
	text-align: center;
	height: 40px;
	width: 25%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	padding-bottom: .5%;
	border-radius: 10px;
	border: 2px solid white;
	background-color: #66ff99;
	}

#Bottom-Footer {
	background: #cce0ff;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
	text-decoration: none;
	border: 2px solid black;
	}

/* ======================*/
/* 		Page Rules    */ 
/* ======================*/

/* Wrapper*/ 
#PageWrapper { 
	width: 98.8%;
	overflow: auto;
	background-color: white;
	margin: .5%;
	border: 1px solid black;
	}

/* About Page*/
#About {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 45%;
	margin: auto;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(NavD.jpg);
	}

#About-Link1 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 28%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#About-Link2 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 38%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

/* What is Phishing? Page*/
#Phishing101 {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 35%;
	margin: auto;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(NavD.jpg);
	}

#Phishing101-Link1 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 25%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Phishing101-Link2 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 25%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

/* Learn More Page*/
#More {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 35%;
	margin: auto;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(NavD.jpg);
	}

#More-Link1 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 25%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#More-Link2 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 25%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

/* Training Page*/
#Training {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 40%;
	margin: auto;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(NavD.jpg);
	}

#Training-Link1 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 30%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Training-Link2 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 30%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

/* Knowledge Page*/
#Knowledge {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 40%;
	margin: auto;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(NavD.jpg);
	}

#Knowledge-Link1 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 25%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Knowledge-Link2 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 25%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

/* Phishing 101 Page*/
#Training1 {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 45%;
	margin: auto;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(NavD.jpg);
	}

#Training1-Link1 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 35%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Training1-Link2 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 35%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Training1-Link3 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 35%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Training1-Link4 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 35%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Training1-Link5 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 35%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

#Training1-Link6 {
	font-size: 17px;
	padding: .2%;
	color: #ffffff;
	text-align: center;
	height: 35px;
	width: 35%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #80ffbf;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url(Back2.gif);
}

/* =============================*/
/*   		Other Rules		    */ 
/* =============================*/

/* Phishing 101 Introduction Page- Video 1: What is Phishing? */ 
.responsive { 
	height: 0px;
	position: relative;
	padding-bottom: 25%;
	padding-top: 5%;
	}

.responsive iframe{
	position: absolute;
	width: 65%;
	height: 100%;
	left: 18%;
	right: 20%;
	top: 5%;
	bottom: 5%;
	border: 2px solid black;
}
