{% extends "layout.html" %}
{% block body %}
<main>
	<div id="PageWrapper">
    <br>
    
    <p style= "
        text-align: center; 
        font-size: 25px; 
        height:40px;
        color: white; 
        border: 2px solid black; 
        border-radius: 25px; 
        width: 25%;
        margin-left:38%;
        margin-right: 40%;
        background-image: url({{ url_for('static', filename='NavD.jpg') }});">
        
        <u><b>What is Phishing?</b></u>
    </p>
		
    <p style= "
        text-decoration: none; 
        text-align: justify; 
        font-size: 18px; 
        margin-left: 7%; 
        margin-right: 7%;
        padding-left: 2%;
        padding-right: 2%; 
        border: 2px solid black; ">
        
        <img src="{{ url_for('static', filename='Phishing.jpg') }}" style="
            float:left; 
            width:35%; 
            height:220px; 
            padding-right: 30px; 
            padding-bottom: 10px; 
            margin-top: 2%;
        ">
        <br>
        Phishing is an increasingly sophisticated cyber-attack that uses email as a weapon. 
        Its goal is to trick an unsuspecting victims into believing that the message is something they want or need. 
        For this attack to be successful, human interaction is required. The lack of awareness and training can often lead 
        users to click on a malicious link or open/download an attachment. 
        Such careless actions can have devastating results as this phishing can lead to the installation of malware on a system, 
        the revealing of sensitive information, the freezing of a system as part of a ransomware attack, the theft of funds or identity, 
        and so much more.
		<br><br>
	</p>

	<br><br><br><br>

	</div>
	
</main>
{% endblock %}
