<!DOCTYPE html>
<html lang ="en">

<head>
	<title>Examples of Phishing</title>
	<meta charset= "utf-8">
	<link href="static/Phishing.css" rel="stylesheet">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
</head>

<body>

<header>
	<img src="static/Welcome.gif" alt= "Welcome" style="width:22%; margin-left: 40%; margin-right: 30%;"> 	
</header>
<nav>
	<ul class="navmenu">
		<li><a href="Index.html">HOME</a></li>
		
		<li><a href="About.html">ABOUT PHISHING</a><span class = "darrow">&#9660;</span>
			<ul class = "sub1">
				<li><a href="Phishing101.html">What is Phishing?</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="Definition.html">Definition</a></li>
						<li><a href="PhishTech.html">Phishing Techniques</a></li>
					</ul>
				</li>
				<li><a href="More.html">Learn more</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="History.html">History of Phishing</a></li>
						<li><a href="Examples.html">Examples of Phishing</a></li>
					</ul>
				</li>
			</ul>
		</li>

		<li><a href="Training.html">TRAINING</a><span class = "darrow">&#9660;</span>
			<ul class = "sub1">
				<li><a href="Training1.html">Phishing 101</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="Training1-1.html">Introduction</a></li>
						<li><a href="Training1-2.html">How to avoid Phishing?</a></li>
						<li><a href="Training1-3.html">How to detect Phishing?</a></li>
						<li><a href="Training1-4.html">How to report Phishing?</a></li>
						<li><a href="Training1-5.html">How to use D-Phish?</a></li>
						<li><a href="Training1-6.html">Learn more about Phishing</a></li>
					</ul>
				</li>
				
				<li><a href="Knowledge.html">Test your knowledge</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="Quizzes.html">Take some Quizzes</a></li>
						<li><a href="Games.html">Play some Games</a></li>		
					</ul>
				</li>	

			</ul>
		</li>
		
		<li><a href="T&R.html">TOOLS & RESOURCES</a><span class = "darrow">&#9660;</span>
			<ul class = "sub1">
				<li><a href="D-Phish.html">D-Phish</a></li>							
			</ul>
		</li>
		
	</ul>
</nav>

<main>
	<div class="PageWrapper">
		
		<p style= "
			text-align: center; 
			font-size: 25px; 
			height:40px;
			color: white; 
			border: 2px solid black; 
			border-radius: 25px; 
			width: 25%;
			margin-left:38%;
			margin-right: 40%;
			background-image: url(static/NavD.jpg);">
			
			<b>Examples of Phishing</b>
		</p>	

		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			Below are 2 (of the many) examples of phishing emails recovered from our team's junk mail.
			We chose these particular examples to drive a point, but show you the ways you can easily detect phishing emails. 
		</p>
		<br>
		<div class= "Examples">
			
			<img src="static/Example_1.png" 
			alt="Example_1"
			style="
				float:left; 
				width:45%; 
				border: 2px solid black; 
				height:600px; 
				margin-left: 1%;
				margin-top: 0;
				margin-right: 2%;
				margin-bottom: 0;">

			<img src="static/Example_2.png" 
			alt="Example_2"
			style="
			float:right; 
			width:45%; 
			border: 2px solid black; 
			height:600px; 
			margin-right: 1%;
			margin-top: 0;
			margin-left: 2%;
			margin-bottom: 0;">
		</div>

		<br><br><br><br>
		<p style= "
			text-align: center;
			font-size: 18px;
			height:30px;
			padding: 5px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 45%;
			margin-left: 7%;
			background-image: url(static/giphy3.gif);">
			<b>PART I: HOW TO EASILY IDENTIFY PHISHING EMAILS?</b>
			<br>	
		</p>

		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			As you can see in these examples, there are different approaches attackers will take to effectively carry out their attacks. 
			These methods are constantly evolving and, unfortunately, it is virtually impossible to keep up with all of them. 
			However, there are ways to protect yourself and your information. 
			Yes, there are several ways to identify phishing emails. 
			The following methods are but a few that can be used on any email you receive to verify 
			its legitimacy and ensure you are not being phished.
			<br><br><br>				
		</p>

		<p style= "
			text-align: center;
			font-size: 18px;
			height:25px;
			padding: 2px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 20%;
			margin-left: 7%;
			background-color: green;">
			<b>SPELLING & GRAMMAR</b>
			<br>	
		</p>
		
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			Let's start with the most obvious, spelling and grammar. 
			If an email contains too many spelling errors or grammatical mistakes, be suspicious.
			<br><br>
			In the examples given above, it is safe to assume that a reputable company such as Netflix will carefully edit its messages before sending it out to customers. 
			So, do NOT be fooled by <i>WHO</i> is reaching out. 
			Instead, take the time to pay attention to <i>WHY</i> they are reaching out. 
			Chances are that if you compare the suspicious email to any of the previous communication you may have had with the sender, you will notice these red flags.
			<br>				
		</p>

		<div class= "Examples-Demo">		
			<img src="static/Example_1-1.png" 
			alt="Example_1-1"
			style="
				float:left; 
				width:35%; 
				border: 2px solid black; 
				height:450px; 
				margin-left: 1%;
				margin-top: 0;
				margin-right: 2%;
				margin-bottom: 0;">

			<img src="static/Example_2-1.png" 
			alt="Example_2-1"
			style="
			float:left; 
			width:35%; 
			border: 2px solid black; 
			height:450px; 
			margin-right: 1%;
			margin-top: 0;
			margin-left: 2%;
			margin-bottom: 0;">
		</div>
		<br><br><br>

		<p style= "
			text-align: center;
			font-size: 18px;
			height:25px;
			padding: 2px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 25%;
			margin-left: 7%;
			background-color: green;">
			<b>CHECK THE SENDER'S EMAIL</b>
			<br>	
		</p>
		
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			When you receive a suspicious, always check the sender's email address.
			<br><br>
			In the examples given above, the scammers are obviously attempting to trick us into believing that they are reaching on behalf Netflix.
			But, a reputable company such as Netflix will not have email addresses that are unbelievably long, like the ones found in these examples.
			You can see that the "Netflix" label before the actual email is simply masquerading and there to trick you.   
			<br>				
		</p>

		<div class= "Examples-Demo">	
			<img src="static/Example_1-5.png" 
			alt="Example_1-5"
			style="
				float:left; 
				width:45%; 
				border: 2px solid black; 
				height:450px; 
				margin-left: 1%;
				margin-top: 0;
				margin-right: 2%;
				margin-bottom: 0;">

			<img src="static/Example_2-5.png" 
			alt="Example_2-5"
			style="
			float:left; 
			width:44%; 
			border: 2px solid black; 
			height:450px; 
			margin-right: 1%;
			margin-top: 0;
			margin-left: 2%;
			margin-bottom: 0;">
		</div>
		<br><br><br>

		<p style= "
			text-align: center;
			font-size: 18px;
			height:25px;
			padding: 2px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 28%;
			margin-left: 7%;
			background-color: green;">
			<b>CHECK THE EMAIL'S SUBJECT LINE</b>
			<br>	
		</p>
		
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			Legitimate emails from people you know or reputable companies will always have a clear subject identifying <u>specifically</u>
			why they are reaching out. As such, if an email contains too much or unclear information in its subject line, be suspicious.
			More often than not, the subject line will also contains speeling and grammatical errors, and 
			will contradict the actual message the attacker is trying to convey.  
			<br><br>
			In the example on the left, the attacker clearly wants us to <i>"Follow the instructions email on how to update<u><i>d</i></u> 
			<u><i>O</i></u>ur <u><i>bill</i></u> account."</i>  
			Yet, shortly after that, the subject line mentions the following <i>" [Traveloka] Top-Up Purchase Successful - Booking ID 564696900." </i> 
			If there is something on the subject line that does not make sense or simply does not belong there, be suspicious.
			<br><br>
			In the example on the right, the attackers wants us to know that <i>"(they) sent confirmation for update billing information on account."</i> 
			However, the email then immediately switches languages and goes to French and says <i>"Nous avons envoyé une confirmation 
			de mise à jour du mot de passe sur le compte October 27,"</i>  which translates to  <i>"We have sent a confirmation for update password on account 
			on October 27." </i> 
			Even the spelling in French is full of errors and grammatical mistakes, further reasons to be suspicious about and to question 
			the sender's true motives. 
			<br>				
		</p>

		<div class= "Examples-Demo">	
			<img src="static/Example_1-6.png" 
			alt="Example_1-6"
			style="
				float:left; 
				width:45%; 
				border: 2px solid black; 
				height:450px; 
				margin-left: 1%;
				margin-top: 0;
				margin-right: 2%;
				margin-bottom: 0;">

			<img src="static/Example_2-6.png" 
			alt="Example_2-6"
			style="
			float:left; 
			width:44%; 
			border: 2px solid black; 
			height:450px; 
			margin-right: 1%;
			margin-top: 0;
			margin-left: 2%;
			margin-bottom: 0;">
		</div>
		<br><br><br>
		<p style= "
			text-align: center;
			font-size: 18px;
			height:25px;
			padding: 2px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 20%;
			margin-left: 7%;
			background-color: green;">
			<b>LINKS TO A "WEBSITE"</b>
			<br>	
		</p>
		
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			Phishing emails will more often than not provide you with a link to a website where you are expected to either enter or validate your 
			personal information/credentials.
			Simply <u>HOVERING</u> over the links will stop you from ending up on one of these credentials stealing websites.
			<br><br>
			In the examples given above, even though Netflix allegedly reached out, 
			the hyperlinks clearly show that we would not have been redirected to a Netflix website. 
			You must NEVER click on a link that does not match the email's link address. 
			<br>				
		</p>

		<div class= "Examples-Demo">	
			<img src="static/Example_1-2.png" 
			alt="Example_1-2"
			style="
				float:left; 
				width:45%; 
				border: 2px solid black; 
				height:450px; 
				margin-left: 1%;
				margin-top: 0;
				margin-right: 2%;
				margin-bottom: 0;">

			<img src="static/Example_2-2.png" 
			alt="Example_2-2"
			style="
			float:left; 
			width:46%; 
			border: 2px solid black; 
			height:450px; 
			margin-right: 1%;
			margin-top: 0;
			margin-left: 2%;
			margin-bottom: 0;">
		</div>
		<br><br><br>

		<p style= "
			text-align: center;
			font-size: 18px;
			height:25px;
			padding: 2px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 32%;
			margin-left: 7%;
			background-color: green;">
			<b>REQUEST FOR PERSONAL INFORMATION</b>
			<br>	
		</p>
		
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			As mentioned previously, phishing emails will more often than not provide you with a link that will direct you to a forged website,
			where you will be required to either enter or validate your personal information/credentials. 
			Simply put, scammers want to steal your identity. 
			Hence why they will more often than not ask you to verify or update personal information such as your home address, date of birth, 
			bank account information, Social Security Number (SSN) or Personal Identification Number (PIN), or any other detail they can use to steal your identity.
			<br><br>
			Remember, most reputable companies will NEVER ask you to update your personal information via email. 
			Also, when in doubt, simply pick up the phone and call the entity directly. 
			NEVER, under any circumstances, call any number provided in a suspicious email. 
			<br><br>
			In the examples given above, while one asked us to update the payment "method<i>e</i>," 
			the other simply wanted us to update our personal details.   
			<br>				
		</p>

		<div class= "Examples-Demo">	
			<img src="static/Example_1-3.png" 
			alt="Example_1-3"
			style="
				float:left; 
				width:40%; 
				border: 2px solid black; 
				height:450px; 
				margin-left: 1%;
				margin-top: 0;
				margin-right: 2%;
				margin-bottom: 0;">

			<img src="static/Example_2-3.png" 
			alt="Example_2-3"
			style="
			float:left; 
			width:46%; 
			border: 2px solid black; 
			height:450px; 
			margin-right: 1%;
			margin-top: 0;
			margin-left: 2%;
			margin-bottom: 0;">
		</div>
		<br><br><br>
		<p style= "
			text-align: center;
			font-size: 18px;
			height:25px;
			padding: 2px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 22%;
			margin-left: 7%;
			background-color: green;">
			<b>URGENT ACTION NEEDED</b>
			<br>	
		</p>
		
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			Phishing emails will always try to play on users emotions. 
			Attackers typically target the 2 emotions that push people to act quickly or act out of desperation, fear and worry.
			Generally, phishing emails will contain some message about an urgent or immediate call to action 
			if you do not wish lose the product or service you have.
			<br><br>
			In the examples given above, the scammers are obviously attempting to trick us into believing that we will lose our 
			Netflix subscription if we do not update our payment information or update our personal details.
			<br>				
		</p>

		<div class= "Examples-Demo">	
			<img src="static/Example_1-4.png" 
			alt="Example_1-4"
			style="
				float:left; 
				width:40%; 
				border: 2px solid black; 
				height:450px; 
				margin-left: 1%;
				margin-top: 0;
				margin-right: 2%;
				margin-bottom: 0;">

			<img src="static/Example_2-4.png" 
			alt="Example_2-4"
			style="
			float:left; 
			width:44%; 
			border: 2px solid black; 
			height:450px; 
			margin-right: 1%;
			margin-top: 0;
			margin-left: 2%;
			margin-bottom: 0;">
		</div>
		<br><br><br>

		<br><br><br><br>
		<p style= "
			text-align: center;
			font-size: 18px;
			height:30px;
			padding: 5px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 20%;
			margin-left: 7%;
			background-image: url(static/giphy3.gif);">
			<b>PART II: SUMMARY</b>
			<br>	
		</p>

		<div class= "responsive">
			<iframe 
				width="560" 
				height="315" 
				src="https://www.youtube.com/embed/U7tbJVSInvo" 
				frameborder="0" 
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen>
			</iframe>
		</div>
		<br><br><br><br><br><br>
	</div>
	
</main>

<div class = "footer">
	<div class="footer-content">
		
		<div class="footer-section About">
			<h1 class="logo-text"><span>Phishing Guard</span></h1>
			
			<p style= "text-align: justify; font-size: 17.5px; margin-left:1%; margin-right: 1%;">
				Phishing Guard is a FREE, comprehensive, and easy to navigate web application designed to provide its users with the ability 
				to receive interactive and effective training about Phishing. 
			</p>
			
			<p style= "text-align: justify; font-size: 17.5px;">
				Get in touch with the Team.
			</p>

			<div class="contact">
				<span> &nbsp;&nbsp;&nbsp;<i class="fas fa-phone"></i> &nbsp; 513-556-4307</span>
				<span> &nbsp;&nbsp;&nbsp;<i class="fas fa-envelope"></i> &nbsp; <a href="mailto:kikondsk@mail.uc.edu">Phishing Guard Support Team</a></span>
			</div>

			<p style= "text-align: justify; font-size: 17.5px; margin-left:1%; margin-right: 1%;">
				Get in touch with Serge Kikonda for any questions about the website.
			</p>

			<div class="socials">
				&nbsp;&nbsp;
				<a href="https://www.facebook.com/serkikonda/" target="_blank">
					<img src="static/Facebook.png" 
						alt= "Facebook" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>
				&nbsp;
				<a href="https://www.instagram.com/serge_kikonda/" target="_blank">
					<img src="static/Instagram.png" 
						alt= "Instagram" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>
				&nbsp;
				<a href="https://www.youtube.com/channel/UCWFAnBZQpmXZHqXQc3jmfzw?view_as=subscriber" target="_blank">
					<img src="static/Youtube.png" 
						alt= "Youtube" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>
				&nbsp;
				<a href="mailto:kikondsk@mail.uc.edu" target="_blank">
					<img src="static/Outlook.png" 
						alt= "Outlook" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>				
			</div>
		</div>


		<div class="footer-section Links">
			<h1><span>Quick Links</span></h1>
			
			<ul>
				<li>
					<a href="Index.html" target="_blank">
						Homepage
					</a>
				</li>
				<li>
					<a href="About.html" target="_blank">
						About Phishing
					</a>
				</li>
				<li>
					<a href="Examples.html" target="_blank">
						Phishing Examples
					</a>
				</li>
				<li>
					<a href="PhishTech.html" target="_blank">
						Phishing Techniques
					</a>
				</li>
				<li>
					<a href="Training.html" target="_blank">
						Phishing Training
					</a>
				</li>
				<li>
					<a href="Training1-3.html" target="_blank">
						Learn how to detect Phishing
					</a>
				</li>
				<li>
					<a href="Training1-2.html" target="_blank">
						Learn how to avoid Phishing
					</a>
				</li>
				<li>
					<a href="D-Phish.html" target="_blank">
						Use D-Phish
					</a>
				</li>
				<li>
					<a href="Quizzes.html" target="_blank">
						Test your Knowledge
					</a>
				</li>
				<li>
					<a href="Games.html" target="_blank">
						Play Some Games
					</a>
				</li>
			</ul>
		</div>


		<div class="footer-section Feedback">
			<h1><span>Leave some feedback</span></h1>
			
			<form action="PhishingGuard_PHP.html" method="post">
				<input 
					type="text" 
					value="" 
					name="Name" 
					class="text-input contact-input" 
					placeholder="Enter Name..." 
					style="margin-bottom: 1%; margin-left: 3%; padding-left: 6px; font-size: 15px;"
					required
				/>
				<br />
				<input 
					type="email" 
					value="" 
					name="Email" 
					class="text-input contact-input"
					placeholder="Enter Email..." 
					style="margin-bottom: 1%; margin-left: 3%; padding-left: 6px; font-size: 15px;" 
				/>
				<br />
				<textarea placeholder="Enter Feedback Here..." style="margin-left: 3%; padding-left: 6px; font-size: 15px;" ></textarea>
				<br />
				<button 
					type="submit" 
					name="Submit" 
					value="SEND" 
					style="margin-bottom: 1%; margin-left: 3%; height: 25px; ">
					<i class="fas fa-envelope"></i>
					&nbsp;
					Send
				</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button 
					type="submit" 
					name="Submit" 
					value="SEND"
					style="margin-left: 3%; height: 25px;">
					<i class="fas fa-undo"></i>
					&nbsp;
					Reset
				</button>			
			</form>
		</div>
	</div>

	<div class = "footer-bottom">
		<p>
		Copyright &copy; 2019 Phishing Guard <br>
		This Website was created by Katie Drury, Sarah Matevia, and Serge Kikonda for the University of Cincinnati's CECH, School of IT, Senior Design Course.<br>
		For more information, click here to email our team: <a href="mailto:kikondsk@mail.uc.edu">Phishing Guard Support Team</a>.
		</P>
	</div>
</div>
</body>
</html>