{% extends "layout.html" %}
{% block body %}
<main>
	<div id="PageWrapper">
		
		<p style= "
			text-align: center; 
			font-size: 25px; 
			height:40px;
			color: white; 
			border: 2px solid black; 
			border-radius: 25px; 
			width: 25%;
			margin-left:38%;
			margin-right: 40%;
            background-image: url({{ url_for('static', filename='NavD.jpg') }});">
			
			<u><b>Examples of Phishing</b></u>
		</p>	

	
		<div class= "responsive">
			<iframe 
				width="560"
				height="315" 
				src="https://www.youtube.com/embed/WG8V1_Sj5g0" 
				frameborder="0" 
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen>
			</iframe>
		</div>
        <br/><br/>
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">
			Designed by Katie Drury, Sarah Matevia, and Serge Kikonda, this application is FREE, comprehensive and easy to navigate.
			It is intended to provide the UC community (students, faculty, and staff) with the ability to receive effective training 
			about phishing and how to report it. 
			<br><br>
			Our goal is to ensure that the features within this application are tailored to you, our audience, 
			in such a way that you enjoy and easily retain what you learn, but also feel the need to learn more. 
			<br><br>
			Timing is crucial for detecting and stopping phishing attacks. 
			While our application does not focus on monetary values, it does focus on something even more important: 
			increasing the user retention and awareness rates. 
			By exploring our website, you will bear witness to our attempt at creating a new trend 
			and approach to learning about phishing.
			We would love to get your feedback to learn how we can improve your experience and make it better. 
			If you would like to provide feedback, please click here: <a href="Feedback.html">Feedback</a>.
		</p>

	</div>
	
</main>
{% endblock %}
