<!DOCTYPE html>
<html lang ="en">

<head>
	<title>Home</title>
	<meta charset= "utf-8">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link href="static/Phishing.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}"
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
</head>

<body>

<header>
	<img src="static/Welcome.gif" alt= "Welcome" style="width:22%; margin-left: 40%; margin-right: 30%;"> 	
</header>

<nav>
	<ul class="navmenu">
		<li><a href="Index.html">HOME</a></li>
		
		<li><a href="About.html">ABOUT PHISHING</a><span class = "darrow">&#9660;</span>
			<ul class = "sub1">
				<li><a href="Phishing101.html">What is Phishing?</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="Definition.html">Definition</a></li>
						<li><a href="PhishTech.html">Phishing Techniques</a></li>
					</ul>
				</li>
				<li><a href="More.html">Learn more</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="History.html">History of Phishing</a></li>
						<li><a href="Examples.html">Examples of Phishing</a></li>
					</ul>
				</li>
			</ul>
		</li>

		<li><a href="Training.html">TRAINING</a><span class = "darrow">&#9660;</span>
			<ul class = "sub1">
				<li><a href="Training1.html">Phishing 101</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="Training1-1.html">Introduction</a></li>
						<li><a href="Training1-2.html">How to avoid Phishing?</a></li>
						<li><a href="Training1-3.html">How to detect Phishing?</a></li>
						<li><a href="Training1-4.html">How to report Phishing?</a></li>
						<li><a href="Training1-5.html">How to use D-Phish?</a></li>
						<li><a href="Training1-6.html">Learn more about Phishing</a></li>
					</ul>
				</li>
				
				<li><a href="Knowledge.html">Test your knowledge</a><span class = "rarrow">&#9654;</span>
					<ul class = "sub2">
						<li><a href="Quizzes.html">Take some Quizzes</a></li>
						<li><a href="Games.html">Play some Games</a></li>		
					</ul>
				</li>	

			</ul>
		</li>
		
		<li><a href="T&R.html">TOOLS & RESOURCES</a><span class = "darrow">&#9660;</span>
			<ul class = "sub1">
				<li><a href="D-Phish.html">D-Phish</a></li>							
			</ul>
		</li>
		
	</ul>
</nav>

<main>
	<div class="PageWrapper">
		<br><br>
		<img src="static/Phishing-Guard.png" alt= "What" style="margin-left:25%; margin-right:5%; width:65%;">
		<br><br>
		<p style= "text-align: center; font-size: 20px;">
			Welcome to  PHISHING GUARD.
		</p> 
		
		<p style= "text-decoration: none; text-align: justify; font-size: 18px; margin-left: 7%; margin-right: 7%;">	
			According to <a href="https://www.eset.com/uk/about/newsroom/blog/5-reasons-phishing-is-so-successful/" target="_blank">Enjoy Safer Technology (ESET)</a>
			97% of people are unable to identify sophisticated phishing attacks. 
			Though phishing attempts use scare tactics, website forgeries, or scams to increase their effectiveness and chances of success, 
			research shows that the heart of the problem resides in a lack of effective training.
			Timing is crucial for detecting and stopping phishing attacks. 
			<br><br>
			Designed by Katie Drury, Sarah Matevia, and Serge Kikonda, 
			Phishing Guard is a FREE, comprehensive, and easy to navigate web application designed to provide its users with the ability to receive 
			interactive and effective training. 
			Our goal is to ensure that the features within this application are tailored to you, our users, 
			in such a way that you enjoy and easily retain what you learn, but also feel the need to learn more
			<br><br>
			In addition to creating a new approach to learning about phishing, this application will revolutionize the way these attacks are prevented. 
			Phishing Guard has an easy to use menu system that includes short interactive quizzes, up to date videos, games, and more. 
			These resources allow Phishing Guard to stand out among its peers, as it not only effectively decreases the success rate of 
			phishing attempts but also increases user retention and awareness rate.
			<br><br>	
		</p>

		<p style= "text-align: center; font-size: 18px;">
			<br>
			Hope you enjoy this journey, 
			<br><br>
			Phishing Guard Team. 
			<br><br>
		</p>

		<img src="static/Team.png" alt= "What" style="margin-left:14.5%; margin-right:14.5%; width:70%; height: 500px; border: 2px solid red;">
		<br><br><br><br>
	</div>
	
</main>

<div class = "footer">
	<div class="footer-content">
		
		<div class="footer-section About">
			<h1 class="logo-text"><span>Phishing Guard</span></h1>
			
			<p style= "text-align: justify; font-size: 17.5px; margin-left:1%; margin-right: 1%;">
				Phishing Guard is a FREE, comprehensive, and easy to navigate web application designed to provide its users with the ability 
				to receive interactive and effective training about Phishing. 
			</p>
			
			<p style= "text-align: justify; font-size: 17.5px;">
				Get in touch with the Team.
			</p>

			<div class="contact">
				<span> &nbsp;&nbsp;&nbsp;<i class="fas fa-phone"></i> &nbsp; 513-556-4307</span>
				<span> &nbsp;&nbsp;&nbsp;<i class="fas fa-envelope"></i> &nbsp; <a href="mailto:kikondsk@mail.uc.edu">Phishing Guard Support Team</a></span>
			</div>

			<p style= "text-align: justify; font-size: 17.5px; margin-left:1%; margin-right: 1%;">
				Get in touch with Serge Kikonda for any questions about the website.
			</p>

			<div class="socials">
				&nbsp;&nbsp;
				<a href="https://www.facebook.com/serkikonda/" target="_blank">
					<img src="static/Facebook.png" 
						alt= "Facebook" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>
				&nbsp;
				<a href="https://www.instagram.com/serge_kikonda/" target="_blank">
					<img src="static/Instagram.png" 
						alt= "Instagram" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>
				&nbsp;
				<a href="https://www.youtube.com/channel/UCWFAnBZQpmXZHqXQc3jmfzw?view_as=subscriber" target="_blank">
					<img src="static/Youtube.png" 
						alt= "Youtube" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>
				&nbsp;
				<a href="mailto:kikondsk@mail.uc.edu" target="_blank">
					<img src="static/Outlook.png" 
						alt= "Outlook" 
						style="width:7%; height:25px;  border: 2px solid #CCC; border-radius: 15px;"
					>
				</a>				
			</div>
		</div>


		<div class="footer-section Links">
			<h1><span>Quick Links</span></h1>
			
			<ul>
				<li>
					<a href="Index.html" target="_blank">
						Homepage
					</a>
				</li>
				<li>
					<a href="About.html" target="_blank">
						About Phishing
					</a>
				</li>
				<li>
					<a href="Examples.html" target="_blank">
						Phishing Examples
					</a>
				</li>
				<li>
					<a href="PhishTech.html" target="_blank">
						Phishing Techniques
					</a>
				</li>
				<li>
					<a href="Training.html" target="_blank">
						Phishing Training
					</a>
				</li>
				<li>
					<a href="Training1-3.html" target="_blank">
						Learn how to detect Phishing
					</a>
				</li>
				<li>
					<a href="Training1-2.html" target="_blank">
						Learn how to avoid Phishing
					</a>
				</li>
				<li>
					<a href="D-Phish.html" target="_blank">
						Use D-Phish
					</a>
				</li>
				<li>
					<a href="Quizzes.html" target="_blank">
						Test your Knowledge
					</a>
				</li>
				<li>
					<a href="Games.html" target="_blank">
						Play Some Games
					</a>
				</li>
			</ul>
		</div>


		<div class="footer-section Feedback">
			<h1><span>Leave some feedback</span></h1>
			
			<form action="PhishingGuard_PHP.html" method="post">
				<input 
					type="text" 
					value="" 
					name="Name" 
					class="text-input contact-input" 
					placeholder="Enter Name..." 
					style="margin-bottom: 1%; margin-left: 3%; padding-left: 6px; font-size: 15px;"
					required
				/>
				<br />
				<input 
					type="email" 
					value="" 
					name="Email" 
					class="text-input contact-input"
					placeholder="Enter Email..." 
					style="margin-bottom: 1%; margin-left: 3%; padding-left: 6px; font-size: 15px;" 
				/>
				<br />
				<textarea placeholder="Enter Feedback Here..." style="margin-left: 3%; padding-left: 6px; font-size: 15px;" ></textarea>
				<br />
				<button 
					type="submit" 
					name="Submit" 
					value="SEND" 
					style="margin-bottom: 1%; margin-left: 3%; height: 25px; ">
					<i class="fas fa-envelope"></i>
					&nbsp;
					Send
				</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button 
					type="submit" 
					name="Submit" 
					value="SEND"
					style="margin-left: 3%; height: 25px;">
					<i class="fas fa-undo"></i>
					&nbsp;
					Reset
				</button>			
			</form>
		</div>
	</div>

	<div class = "footer-bottom">
		<p>
		Copyright &copy; 2019 Phishing Guard <br>
		This Website was created by Katie Drury, Sarah Matevia, and Serge Kikonda for the University of Cincinnati's CECH, School of IT, Senior Design Course.<br>
		For more information, click here to email our team: <a href="mailto:kikondsk@mail.uc.edu">Phishing Guard Support Team</a>.
		</P>
	</div>
</div>
</body>
</html>