{% extends "layout.html" %}
{% block body %}
<main>
	<div id="PageWrapper">
		<p style= "
			text-align: center; 
			font-size: 22px; 
			height:35px;
			color: white; 
			border: 2px solid black; 
			border-radius: 25px; 
			width: 35%;
			margin-left:34%;
			margin-right: 34%;
            background-image: url({{ url_for('static', filename='NavD.jpg') }});">
			<b>PHISHING-101 INTRODUCTION</b>
		</p>	

		<p style= "
			text-decoration: none; 
			text-align: justify; 
			font-size: 18px; 
			margin-left: 7%; 
			margin-right: 7%; 
			padding-left: 2%;
			padding-right: 2%;
			border: 2px solid black; ">
				<br>
				Welcome. In this course, we will teach you what phishing is, its common features, and even the various phishing techniques. 
				In addition to that, we want to teach you how you can protect yourself and your organization against phishing attacks.
				Remember, timing is crucial for detecting and stopping phishing attacks. 
				Hence why we want to teach you these key things and make you proactive, rather than reactive.  
				<br><br>
				Let's begin!
				<br><br>
		</p>
		<br><br>
		<p style= "
			text-align: center;
			font-size: 19px;
			height:30px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 25%;
			margin-left:6.8%;
			background-color: black;
			">
			<b>PART I: WHAT IS PHISHING?</b>
			<br><br>	
		</p>


		<div class= "responsive">
			<iframe 
				width="560"
				height="315" 
				src="https://www.youtube.com/embed/WG8V1_Sj5g0" 
				frameborder="0" 
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen>
			</iframe>
		</div>
		<br><br><br><br>
		<p style= "
			text-align: center;
			font-size: 19px;
			height:30px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 45%;
			margin-left:6.8%;
			background-color: black;
			">
			<b>PART II: TEST YOUR KNOWLEDGE & UNDERSTANDING</b>
			<br><br>	
		</p>

		<p style= "
			text-decoration: none; 
			text-align: justify; 
			font-size: 18px; 
			margin-left: 7%; 
			margin-right: 7%;
			padding-left: 2%;
			padding-right: 2%;
			border: 2px solid black;
			width: 15%;">
				Coming soon!
		</p>

		<br><br><br><br><br><br><br><br>	
		<p>
			<a href = "Training1-2.html">
				<button style="
					float: right;
					color: white;
					font-size:20px; 
					width: 28%; 
					height: 50px;
					margin-right: 5%;
					border: 2px solid black; 
					border-radius: 25px;
                    background-image: url({{ url_for('static', filename='NavD.jpg') }});"
					> 
					Part II: How to avoid Phishing?
				</button>
			</a>
			<br><br>
			<br><br>
		</p>
		

	</div>
	
</main>
{% endblock %}
