<!DOCTYPE html>
<html lang ="en">

<head>
	<title>Learn how to detect Phishing</title>
	<meta charset= "utf-8">
	<link href="Phishing.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
</head>

<body>

<header>
	<img src="Images/Welcome.gif" alt= "Welcome" style="width:22%; margin-left: 40%; margin-right: 30%;"> 	
</header>
<nav>
		<ul id="navmenu">
			<li><a href="Index.html">HOME</a></li>
			
			<li><a href="About.html">ABOUT PHISHING</a><span class = "darrow">&#9660;</span>
				<ul class = "sub1">
					<li><a href="Phishing101.html">What is Phishing?</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="Definition.html">Definition</a></li>
							<li><a href="PhishTech.html">Phishing Techniques</a></li>
						</ul>
					</li>
					<li><a href="More.html">Learn more</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="History.html">History of Phishing</a></li>
							<li><a href="Examples.html">Examples of Phishing</a></li>
						</ul>
					</li>
				</ul>
			</li>
	
			<li><a href="Training.html">TRAINING</a><span class = "darrow">&#9660;</span>
				<ul class = "sub1">
					<li><a href="Training1.html">Phishing 101</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="Training1-1.html">Introduction</a></li>
							<li><a href="Training1-2.html">How to avoid Phishing?</a></li>
							<li><a href="Training1-3.html">How to detect Phishing?</a></li>
							<li><a href="Training1-4.html">How to report Phishing?</a></li>
							<li><a href="Training1-5.html">How to use D-Phish?</a></li>
							<li><a href="Training1-6.html">Learn more about Phishing</a></li>
						</ul>
					</li>
					
					<li><a href="Knowledge.html">Test your knowledge</a><span class = "rarrow">&#9654;</span>
						<ul class = "sub2">
							<li><a href="Quizzes.html">Take some Quizzes</a></li>
							<li><a href="Games.html">Play some Games</a></li>		
						</ul>
					</li>	
	
				</ul>
			</li>
			
			<li><a href="T&R.html">TOOLS & RESOURCES</a><span class = "darrow">&#9660;</span>
				<ul class = "sub1">
					<li><a href="D-Phish.html">D-Phish</a></li>							
				</ul>
			</li>
			
		</ul>
	</nav>

<main>
	<div id="PageWrapper">
		<p style= "
			text-align: center; 
			font-size: 22px; 
			height:35px;
			color: white; 
			border: 2px solid black; 
			border-radius: 25px; 
			width: 35%;
			margin-left:34%;
			margin-right: 34%;
			background-image: url(Images/NavD.jpg);">
			<b>HOW TO DETECT PHISHING?</b>
		</p>	
		<br>
		<p style= " 
			text-align: center;
			font-size: 19px;
			height:30px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 40%;
			margin-left: 9%;
			background-color: black;
			">
			<b>PART I: UNDERSTANDING PHISHING TACTICS</b>
			<br>	
		</p>

		<p style= "
			text-decoration: none; 
			text-align: justify; 
			font-size: 18px; 
			margin-left: 7%; 
			margin-right: 7%; 
			padding-left: 2%;
			padding-right: 2%;">
			<br>
			In this lesson, we are going to teach you the methods that you can use to detect phishing (without using D-Phish). 
			Remember, in the previous lesson, we talked about the common features of Phishing Emails and text messages. If needed, 
			click here to review: <a href="Training1-2.html">Lesson 2</a>. 
			Let's take a look at ways you can detect phishing attacks WITHOUT using our detection and reporting tool.
			<br><br>
		</p>
		<br><br>		
		<p style= "
			text-align: center;
			font-size: 19px;
			height:30px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 45%;
			margin-left: 9%;
			background-color: black;
			">
			<b>PART II: LEARN HOW TO DETECT PHISHING ATTACKS</b>
			<br>	
		</p>
		<div class= "responsive">
			<iframe 
				width="560" 
				height="315" 
				src="https://www.youtube.com/embed/U7tbJVSInvo" 
				frameborder="0" 
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen>
			</iframe>
		</div>
		<br><br>
		<p style= "
			text-decoration: none; 
			border: 2px solid black; 
			text-align: justify; 
			font-size: 18px; 
			margin-left: 7%; 
			margin-right: 7%; 
			padding-left: 2%;
			padding-right: 2%;">
			<br>
			Please note that these common methods used to detect and recognize phishing attempts. 
			<a href="Training1-5.html" style="color:red;">Lesson 5</a> (How to use D-Phish?) is going to teach you how to use the unique detection and reporting tool 
			built into this application.  
			<br><br>
		</p>
		<br><br><br><br>
		<p style= "
			text-align: center;
			font-size: 19px;
			height:30px;
			color: white;
			border: 2px solid black; 
			border-radius: 25px;
			width: 45%;
			margin-left:6.8%;
			background-color: black;
			">
			<b>PART III: TEST YOUR KNOWLEDGE & UNDERSTANDING</b>
			<br><br>	
		</p>

		<p style= "
			text-decoration: none; 
			text-align: justify; 
			font-size: 18px; 
			margin-left: 7%; 
			margin-right: 7%;
			padding-left: 2%;
			padding-right: 2%;
			border: 2px solid black;
			width: 15%;">
				Coming soon!
		</p>

		<br><br><br><br><br><br><br><br>	
		<p>
			<a href = "Training1-2.html">
				<button style='
					float: left;
					color: white;
					font-size:20px; 
					width: 28%; 
					height: 50px;
					margin-left: 5%;
					border: 2px solid black; 
					border-radius: 25px;
					background-image: url(Images/NavD.jpg);'
					> 
					Part II: How to avoid Phishing?
				</button>
			</a>
			
			<a href = "Training1-4.html">
				<button style='
					float: right;
					color: white;
					font-size:20px; 
					width: 28%; 
					height: 50px;
					margin-right: 5%;
					border: 2px solid black; 
					border-radius: 25px;
					background-image: url(Images/NavD.jpg);'
					> 
					Part IV: How to report Phishing?
				</button>
			</a>


			<br><br>
			<br><br>
		</p>
		

	</div>

</main>

<footer id = "Top-Footer">
	<p style= "text-align: center; font-size: 28px;">
		<h2 id = "Explore">What do you wish to explore next?</h2>
		<br>
	
	<p id= "PageTabs">
	<a href="Index.html"><b>Homepage</b></a>
	</p>
	
	<p id= "PageTabs">
	<a href="About.html"><b>About Phishing</b></a>
	</p>
	
	<p id= "PageTabs">
	<a href="Training.html"><b>Training</b></a>
	</p>
	
	<p id= "PageTabs">
	<a href="T&R.html"><b>Tools & Resources</b></a>
	</p>
	
	<p style= "text-align: center;">
		<a href = "http://cech.uc.edu/">
			<img src="Images/CECH.png" 
				alt= "CECH" 
				href="https://cech.uc.edu/" 
				style="width:50%; height:80px; margin-top:30px; margin-bottom: 30px; border: 2px solid #CCC; border-radius: 15px;"
			>
		</a>
	</p>
	<br><br>		
</footer>

<footer id = "Bottom-Footer">
	<p style= "text-align: center; font-size: 18px;">
	Copyright &copy; 2019 Phishing Guard <br>
	This Website was created by Katie Drury, Sarah Matevia, and Serge Kikonda for the University of Cincinnati's IT5001 Senior Design Course.<br>
	For more information, click here to email our team: <a href="mailto:kikondsk@mail.uc.edu">Phishing Guard Support Team</a>.
	</P>
</footer>

</body>

</html>
